* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
/*.prev,
.next {
    cursor: pointer;
    position: fixed;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}*/

/* Position the "next button" to the right */
/*.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    margin: auto 0;
}

    .active,
    .demo:hover {
        opacity: 1;
    }


.container {
    max-width: 90vw;
}

#missionPeriod {
    position: absolute;
    top: -20px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    border-radius: 20px;
    padding-inline: 2vw;
}

.mySlides {
    height: 85%;
    object-fit: cover;
}

    .mySlides img {
        width: 100%;
        height: 100%;
    }

.addRecommand {
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: solid 2px black;
    border-radius: 20px;
    width: 25rem;
}

.rating {
    margin-top: -30px;
}

#data{
    padding: 0 3rem 0 3rem;
}

@media (max-width: 1199px) {
    #data {
        margin-top: 3vh;
        padding: 0 2rem 0 2rem;
    }
}

.applyNowBtn {
    width: 20rem;
    border-radius: 30px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.applyNowBtn img {
    height: 15px;
    width: 20px;
}