@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "noMission";
    Layout = "~/Views/Shared/_LayoutPages.cshtml";
}

<div class="no-mission-found" style="height:73vh; justify-content:center; align-items:center">
    <div style="padding-top:25vh">
        <h1 class="mx-auto" style="width:fit-content;">Mo Mission Found</h1>
        <div class="justify-content-center d-flex">
            <a class='btn btn-primary mx-auto ' id="submit-new-mission-btn" asp-controller="" asp-action="">Submit new mission <img src="~/images/right-arrow.png" /></a>
        </div>
    </div>

</div>
