@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "volunteeringMissionPage";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}


<div class="container">

    <div class="row mt-5">
        <!-- Container for the image gallery -->
        <div class="container-fluid px-0 col-lg-6 d-flex justify-content-center">
            <div class="col-lg-6 col-md-12 w-100 px-3">

                <!-- Full-width images with number text -->
                <div class="mySlides">
                    <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-3.png">
                </div>

                <div class="mySlides">
                    <img src="~/images/img1.png" style="width:100%" onclick="currentSlide(2)">
                </div>

                <div class="mySlides">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-2.png">
                </div>

                <div class="mySlides">
                    <img src="~/images/img11.png">
                </div>

                <div class="mySlides">
                    <img src="~/images/img1.png">
                </div>

                <div class="mySlides">
                    <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-3.png">
                </div>



                <!-- Thumbnail images -->
                <div class="row mt-4 position-relative " style="height:10%">
                    <div class="column mx-auto">
                        @*<a class="prev" onclick="plusSlides(-1)">&#10094;</a>*@
                        <img class="demo cursor" src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-3.png" style="width:100%" onclick="currentSlide(1)">
                    </div>
                    <div class="column mx-auto">
                        <img class="demo cursor" src="~/images/img1.png" style="width:100%" onclick="currentSlide(2)">
                    </div>
                    <div class="column mx-auto">
                        <img class="demo cursor" src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-2.png" style="width:100%" onclick="currentSlide(3)">
                    </div>
                    <div class="column mx-auto">
                        <img class="demo cursor" src="~/images/img11.png" style="width:100%" onclick="currentSlide(4)">
                    </div>
                    <div class="column mx-auto">
                        <img class="demo cursor" src="~/images/img1.png" style="width:100%" onclick="currentSlide(5)">
                    </div>
                    <div class="column mx-auto">
                        <img class="demo cursor" src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-3.png" style="width:100%" onclick="currentSlide(6)">
                        @*<a class="next" onclick="plusSlides(1)">&#10095;</a>*@
                    </div>
                </div>
            </div>
        </div>

        <!-- Data for image -->
        <div class="container-fluid col-lg-6 d-flex justify-content-center align-items-center" id="data">

            <div class="col-lg-6 col-md-12 w-100 ">
                <div class="card-body p-0">
                    <h1 class="pe-3">CSR initiative stands for Coffee & Farmer Equity</h1>

                    <p class="pe-3 mt-3" style="font-size: 1.3rem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

                    <div class="border-top border-bottom mt-4" id="missionInfo" style="position: relative;">
                        <div class="text-center border" id="missionPeriod">
                            <p class="my-0" style="font-size : 1.3rem">Plant 10,000 Trees</p>
                        </div>
                        <div class="d-flex justify-content-around align-items-center py-3">
                            <div class="d-flex justify-content-center align-items-center " style="width:max-content">
                                <img class="me-2" height="30" src="/images/Seats-left.png" alt="">
                                <div>
                                    <p class="mb-0" style="font-size:1.3rem">10</p>
                                    <small>Seats Left</small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center " style="width:max-content">
                                <img class="me-2" height="35" src="/images/deadline.png" alt="">
                                <div>
                                    <p class="mb-0" style="font-size:1.3rem">10</p>
                                    <small>Seats Left</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container mx-auto row mt-4 mb-3">
                        <div class="col-12 col-sm-6 mb-3">
                            <div class="d-flex" id="add-to-fav">
                                <a href="#" class="btn d-flex align-items-center justify-content-center mx-auto addRecommand">
                                    <img class="me-2" src="/images/heart1.png" alt="">
                                    <small class="mb-0 pe-4 h6">Add to Favourite</small>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 mb-3">
                            <div class="d-flex" id="recommen-to-co">
                                <a href="#" class="btn d-flex align-items-center justify-content-center mx-auto addRecommand">
                                    <img class="me-2" src="/images/add1.png" alt="">
                                    <small class="mb-0 pe-4 h6">Recommend to a Co-Worker</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute" id="ratings">
                        <img class="rating-star" src="/images/selected-star.png" alt="">
                        <img class="rating-star" src="/images/selected-star.png" alt="">
                        <img class="rating-star" src="/images/selected-star.png" alt="">
                        <img class="rating-star" src="/images/star-empty.png" alt="">
                        <img class="rating-star" src="/images/star-empty.png" alt="">
                    </div>
                    <div class="border-top pt-4 px-0">
                        <div class="row d-flex justify-content-center">
                            <div class="border py-2 middle-block mx-2">
                                <img class="mb-4" src="/images/pin1.png" alt="">
                                <small class="d-flex">City</small>
                                <p class="mb-0">London</p>
                            </div>
                            <div class="border py-2 middle-block mx-2">
                                <img class="mb-4" src="/images/web.png" alt="">
                                <small class="d-flex">Theme</small>
                                <p class="mb-0">Environment</p>
                            </div>
                            <div class="border py-2 middle-block mx-2">
                                <img class="mb-4" src="/images/calender.png" alt="">
                                <small class="d-flex">Data</small>
                                <p class="mb-0">Ongoing Opportunity</p>
                            </div>
                            <div class="border py-2 middle-block mx-2">
                                <img class="mb-4" src="/images/organization.png" alt="">
                                <small class="d-flex">Organization</small>
                                <p class="mb-0">CSE Network</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="btn border-warning d-flex align-items-center justify-content-center mx-auto my-4 applyNowBtn">
                            <p class="mb-0 pe-4 text-warning h6">Apply</p>
                            <img src="/images/right-arrow.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Related Mission Part-->
    <div class="row">
        <div class="container-fluid text-center my-5">
            <h2>Related Mission</h2>
        </div>
        <div class="container" style="width:90vw">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div style="position: relative;">
                            <img class="card-img-top" id="mission-img"
                                 src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="Card image cap">
                            <div class="bg-dark bg-opacity-50 d-flex justify-items-center align-items-center py-2 pe-auto"
                                 id="location" style="width: 7rem">
                                <img class="ms-auto pe-2" src="/images/pin.png" alt="" height="20">
                                <small class="text-light me-auto mb-0" id="locationName">Toronto</small>
                            </div>
                            <button class="bg-dark bg-opacity-50 border-0 card-btn" id="likeThisMission">
                                <img src="/images/heart.png" alt="">
                            </button>
                            <button class="bg-dark bg-opacity-50 border-0 card-btn" id="shareToFriend">
                                <img src="/images/user.png" alt="">
                            </button>
                            <div>
                                <p class="d-inline px-2" id="missionTheme">Environment</p>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <h5 class="card-title mt-3 px-3">Grow Trees - On the path to</h5>
                            <h5 class="card-title px-3">environment sustainability</h5>
                            <p class="card-text px-3">
                                Some quick example text to build on the card title and make up the
                                bulk
                                of the
                                card's content.
                            </p>
                            <div class="d-flex justify-content-between px-3">
                                <div>
                                    <p>Tree Canada</p>
                                </div>
                                <div>
                                    <img class="rating-star" src="/images/selected-star.png" alt="">
                                    <img class="rating-star" src="/images/selected-star.png" alt="">
                                    <img class="rating-star" src="/images/selected-star.png" alt="">
                                    <img class="rating-star" src="/images/star-empty.png" alt="">
                                    <img class="rating-star" src="/images/star-empty.png" alt="">
                                </div>
                            </div>
                            <div class="border-top border-bottom mt-3" id="missionInfo" style="position: relative;">
                                <div class="border text-center" id="missionPeriod">
                                    <small>From 10/01/2019 until 25/02/2019</small>
                                </div>
                                <div class="d-flex justify-content-between align-items-center px-4 py-3">
                                    <div class="d-flex align-items-center">
                                        <img class="me-2" height="20" src="/images/Seats-left.png" alt="">
                                        <div>
                                            <p class="mb-0">10</p>
                                            <small>Seats Left</small>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img class="me-2" height="25" src="/images/deadline.png" alt="">
                                        <div>
                                            <p class="mb-0">10</p>
                                            <small>Seats Left</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="btn border-warning d-flex align-items-center justify-content-center mx-auto my-2"
                                   id="applyNowBtn">
                                    <p class="mb-0 pe-4 text-warning h6">Apply</p>
                                    <img src="/images/right-arrow.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div style="position: relative;">
                            <img class="card-img-top" id="mission-img"
                                 src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="Card image cap">
                            <div class="bg-dark bg-opacity-50 d-flex justify-items-center align-items-center py-2 pe-auto"
                                 id="location" style="width: 7rem">
                                <img class="ms-auto pe-2" src="/images/pin.png" alt="" height="20">
                                <small class="text-light me-auto mb-0" id="locationName">Toronto</small>
                            </div>
                            <button class="bg-dark bg-opacity-50 border-0 card-btn" id="likeThisMission">
                                <img src="/images/heart.png" alt="">
                            </button>
                            <button class="bg-dark bg-opacity-50 border-0 card-btn" id="shareToFriend">
                                <img src="/images/user.png" alt="">
                            </button>
                            <div>
                                <p class="d-inline px-2" id="missionTheme">Environment</p>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <h5 class="card-title mt-3 px-3">Grow Trees - On the path to</h5>
                            <h5 class="card-title px-3">environment sustainability</h5>
                            <p class="card-text px-3">
                                Some quick example text to build on the card title and make up the
                                bulk
                                of the
                                card's content.
                            </p>
                            <div class="d-flex justify-content-between px-3">
                                <div>
                                    <p>Tree Canada</p>
                                </div>
                                <div>
                                    <img class="rating-star" src="/images/selected-star.png" alt="">
                                    <img class="rating-star" src="/images/selected-star.png" alt="">
                                    <img class="rating-star" src="/images/selected-star.png" alt="">
                                    <img class="rating-star" src="/images/star-empty.png" alt="">
                                    <img class="rating-star" src="/images/star-empty.png" alt="">
                                </div>
                            </div>
                            <div class="border-top border-bottom mt-3" id="missionInfo" style="position: relative;">
                                <div class="border text-center" id="missionPeriod">
                                    <small>From 10/01/2019 until 25/02/2019</small>
                                </div>
                                <div class="d-flex justify-content-between align-items-center px-4 py-3">
                                    <div class="d-flex align-items-center">
                                        <img class="me-2" height="20" src="/images/Seats-left.png" alt="">
                                        <div>
                                            <p class="mb-0">10</p>
                                            <small>Seats Left</small>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img class="me-2" height="25" src="/images/deadline.png" alt="">
                                        <div>
                                            <p class="mb-0">10</p>
                                            <small>Seats Left</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="btn border-warning d-flex align-items-center justify-content-center mx-auto my-2"
                                   id="applyNowBtn">
                                    <p class="mb-0 pe-4 text-warning h6">Apply</p>
                                    <img src="/images/right-arrow.png" alt="">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mx-auto">
                    <div class="card ">
                        <div style="position: relative;">
                            <img class="card-img-top" id="mission-img"
                                 src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="Card image cap">
                            <div class="bg-dark bg-opacity-50 d-flex justify-items-center align-items-center py-2 pe-auto"
                                 id="location" style="width: 7rem">
                                <img class="ms-auto pe-2" src="/images/pin.png" alt="" height="20">
                                <small class="text-light me-auto mb-0" id="locationName">Toronto</small>
                            </div>
                            <button class="bg-dark bg-opacity-50 border-0 card-btn" id="likeThisMission">
                                <img src="/images/heart.png" alt="">
                            </button>
                            <button class="bg-dark bg-opacity-50 border-0 card-btn" id="shareToFriend">
                                <img src="/images/user.png" alt="">
                            </button>
                            <div>
                                <p class="d-inline px-2" id="missionTheme">Environment</p>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <h5 class="card-title mt-3 px-3">Grow Trees - On the path to</h5>
                            <h5 class="card-title px-3">environment sustainability</h5>
                            <p class="card-text px-3">
                                Some quick example text to build on the card title and make up the
                                bulk
                                of the
                                card's content.
                            </p>
                            <div class="d-flex justify-content-between px-3">
                                <div>
                                    <p>Tree Canada</p>
                                </div>
                                <div>
                                    <img class="rating-star" src="/images/selected-star.png" alt="">
                                    <img class="rating-star" src="/images/selected-star.png" alt="">
                                    <img class="rating-star" src="/images/selected-star.png" alt="">
                                    <img class="rating-star" src="/images/star-empty.png" alt="">
                                    <img class="rating-star" src="/images/star-empty.png" alt="">
                                </div>
                            </div>
                            <div class="border-top border-bottom mt-3" id="missionInfo" style="position: relative;">
                                <div class="border text-center" id="missionPeriod">
                                    <small>From 10/01/2019 until 25/02/2019</small>
                                </div>
                                <div class="d-flex justify-content-between align-items-center px-4 py-3">
                                    <div class="d-flex align-items-center">
                                        <img class="me-2" height="20" src="/images/Seats-left.png" alt="">
                                        <div>
                                            <p class="mb-0">10</p>
                                            <small>Seats Left</small>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img class="me-2" height="25" src="/images/deadline.png" alt="">
                                        <div>
                                            <p class="mb-0">10</p>
                                            <small>Seats Left</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="btn border-warning d-flex align-items-center justify-content-center mx-auto my-2"
                                   id="applyNowBtn">
                                    <p class="mb-0 pe-4 text-warning h6">Apply</p>
                                    <img src="/images/right-arrow.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>