.carousel-inner img {
    width: 100%;
    height: 100vh;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

#LoginBtn {
    border-radius: 50px;
    border: 2px solid #F88634;
    background-color: white;
    color: #F88634;
    height: 48px;
    font-size: 20px;
    margin-top: 40px;
}

.row {
    padding: 0;
    margin: 0;
}

.carousel {
    padding: 0;
    margin: 0;
}

.form-group {
    font-size: 22px;
    font-family: 'Segoe UI';
}

#staticNames {
    color: #414141;
    padding-bottom: 10px;
    font-size: 20px;
}

.lostNewAcc {
    position: relative;
    margin-top: 17px;
    text-align: center;
}

#InputEmail1 {
    height: 56px;
}

#InputPassword1 {
    height: 56px;
}

#newPass {
    margin-top: 15px;
}

#form {
    padding-left: 30px;
    padding-right: 30px;
}

.carousel-item {
    transition: 0s ;
}

@media screen and (max-width : 991px) {
    .carousel-item img {
        height: 100%;
    }

    label{
        font-size:20px;
    }

    p {
        font-size: 20px;
    }

    .carousel-caption p{
        font-size: 15px;
    }
}

@media screen and (max-width : 500px) {
    label {
        font-size: 15px;
    }

    p {
        font-size: 15px;
    }

    .carousel-caption p {
        font-size: 10px;
    }
}

